/*  my styles*/
/*1*/
@media print {
    .tm-sidebar {
        display:none;
   }
    .tm-main-content {
        margin: 0;
        width: 100%;
   }
    .tm-banner {
        height: 205px;
   }
    .tm-content-box {
        display: block;
   }
    .tm-team-description-container {
        padding-top: 5px;
        padding-bottom: 5px;
        max-width: 100%;
   }
    .tm-content-box .flex-item {
        text-align: center;
   }
    .tm-footer {
        display: block;
        position: fixed;
        bottom: 0;
        text-align: center;
   }
    .tm-content-box .tm-team-description-container {
        text-align: left;
   }
    #about, .heading, .blocks, #ideas, .img-fluid, #contact {
    display: none;
} 
}
/*2*/
.box.box-bg:hover {
    background-color: #008CBA;
}
.box.box-bg:hover .tm-section-title {
    color: #ffffff;
    font-weight: bold;
}
p::first-letter { 
    font-size: 30px;
    color:#76cdd7;
}
.tm-content-box{
    box-shadow: 5px 10px 8px 5px #888888;
}
.tm-sidebar{
    box-shadow: 5px 10px 8px 5px #888888;
}
/* 5 */
.tm-team-description-container::after{
    display: none;
}
.tm-content-box {
    position: relative;
}
.tm-content-box::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-bottom-width: 25px;
    border-top-width: 0px;
    border-left: 95px solid #2aabd2;
}

/*6*/
#unique-color{
    color: gainsboro;
    letter-spacing: 5px;
}
/* 7 */
h2 + p {
    font-style: italic;
}
/* 8 */
.flex-2-col .tm-section-description{        
    line-height: 2em;
    text-indent: 1em;
}
/*9*/
a:visited {
    color: silver;
}
a:hover {
    color: #76cdd7;
    text-decoration-line: underline;
    text-decoration-style: double;
}
.text::after {
    content: "New";
    color: red;
    font-size: 8pt;
    vertical-align: text-top;
}
/*10*/
.boxes.gallery-container div h2 {
    font-size: 40px;
}
.boxes.gallery-container div p {
    font-size: 17pt;
}
section.blocks ul li:nth-child(odd) {
    background: #f2f2f2;
}
li.box p::first-letter{
    color: black;
}
/*11*/
.tm-nav-item:not(:last-of-type) {
    border-bottom: silver 2px dotted;
}
/*12*/
.contact-form input,
.contact-form button {
    color: red;
}
.mandatory-field::after{
    content: "*";
    color: red;
    font-weight: bold;
    font-size: 8pt;
    vertical-align: text-top;
}
.contact-form button:hover {
    background-color: #008CBA;   
}