$fontFamily: sans-serif;

$Background: white;
$tileBackground: #efefef;

$baseColor: #1fbcd3;

$tileHeader: #1697a6;
$border: #617d8a;

$postDescription: #159587;
$paragraphColor: #617d8a;

$formColor: #757575;