$fontFamily: serif;

$Background: #efefef;
$tileBackground: white;

$baseColor: #fc5830;

$tileHeader: #617d8a;
$border: #617d8a;

$postDescription: #bfbfbf;
$paragraphColor: #757575;

$formColor: #757575;